.main {
	width: 100%;
	display: flex;
	align-items: center;
	gap: 1rem;
	justify-content: space-between;
	padding: 20px;
}
.heading {
	font-size: 18px;
	font-weight: 500;
}
.paragraph{
	margin: 0px;
	font-size: 16px;
	color: var(--primary-little-dark);
    font-weight: bold;
}
.announcementText{
	text-align: justify;
	font-size: 16px;
	flex: 1;
}
.content{
	display: flex;
	justify-content: space-between;
	gap: 20px;
}
.announcement {
	min-height: 2rem;
	background-color: white;
	flex: 2;
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.announcementIn {
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 10px;
}
.announcementBtn {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	flex: 0.5;
}
.links {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
}
.cancel {
	text-align: center;
}
.linkText {
	color: var(--primary-dark);
	size: 10px;
}

.iconSize{
	width: 24px;
	height: 24px;
	cursor: pointer;
}

/* media query */

@media screen and (max-width: 1025px) {
	.content {
	  display: flex;
	  flex-direction: column;
	  gap: 15px;
	}
	.iconSize{
		width: 18px;
		height: 18px;
	}
	.links {
		gap: 3px;
	}
	.paragraph{
		font-size: 12px;
	}
	.announcementText{
		font-size: 14px;
	}
  }