.head {
	display: grid;
	grid-auto-flow: column;
	background-color: var(--primary-dark);
	align-items: center;
	padding: 20px;
	justify-content: space-between;
}
.content_tags {
	color: white;
	font-size: 14px;
}
.left{
	display: flex;
	gap: 30px;
}
.right {
	display: flex;
    gap: 5px;
    align-items: center;
}
.contact_number {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}


/* media query  */

@media screen and (max-width: 769px) {
	.content_tags
	{
		font-size: 12px;
	}
}