.brandLogoImg {
  width: 180px;
  height: 90px;
}
.footer {
  width: 100%;

  background-color: var(--canvas-pure);
}
.footerBottom {
  background-color: var(--border-color-white);
}
.itemLink {
  color: white;
  font-size: 14px;
}
.contenttext {
  text-align: center;
  color: white;
  font-weight: 400;
  font-size: 14px;
}
.items {
  padding: 20px;
  background-color: var(--bottom-bar-1);
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.content {
  padding: 20px;
  background-color: var(--bottom-bar-2);
}
.fontWightSm {
  font-size: 15px;
  font-weight: 600;
  color: var(--dark);
}
.fontWightSmColor {
  color: var(--primary-blue);
  font-size: 14px;
}
.fontWightMd {
  font-size: 16px;
  color: var(--dark);
  font-weight: 700;
}
.desktop {
  display: block;
}
.mobile {
  display: none;
}
.footerContent {
  display: flex;
  padding: 20px 40px;
  gap: 20px;
  border-top: 1px solid var(--border-color-white);
}
.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 1px solid var(--border-color-white);
  gap: 15px;
  padding-right: 10px;
}
.right {
  flex: 1;
}
.fontAddress0 {
  padding: 20px 0px;
}
.socialMedia {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 10px 0px;
}
.contact {
  display: flex;
  gap: 10px;
  padding: 0px 10px;
}
.leftRight {
  display: flex;
}

.details {
  font-size: 14px;
}
.leftContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-right: 10px;
  border-right: 1px solid var(--border-color-white);
}
.number {
  font-size: 13px;
  color: var(--light-dark);
}
.fontWeight {
  font-size: 13px;
}
.rightRight {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  gap: 10px;
  flex: 0.3;
}
.rightBottom {
  display: flex;
  padding-top: 10px;
  gap: 10px;
  justify-content: space-between;
}
.certification {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1;
}
.announcementMain {
  display: none;
}
.fontWight {
  color: var(--primary-dark);
  font-weight: 600;
  font-size: 15px;
}
.breakLine {
  display: block;
  height: 0px;
}

.numberDiv {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: space-between;
}
.numbereflexbox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}
.logo {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 10px;
}
.certificationLinks {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 10px;
}
.brandName {
  font-size: 19px;
  color: var(--dark);
}
.certificationContainer{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.certificationImgDiv{
  position: relative;
  flex: 0.15;
  display: flex;
  align-items: end;
  justify-content: end;
}
/* media query */

@media (max-width: 789px) and (min-width:426px) {
  .footer {
    position: relative;
  }
  .brandLogoImg {
    width: 160px;
    height: 85px;
  }
  .licenseLabel{
    margin: auto;
    flex: 1;
  }
  .items {
    padding: 15px;
  }
  .content {
    padding: 15px;
  }
  
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .fontWightSm {
    font-size: 14px;
    color: var(--secondary-text);
  }
  .breakLine {
    display: none;
  }
  .fontWightMd {
    font-size: 10px;
  }
  .left {
    flex-direction: row;
    border: none;
    padding: 10px 0px;
  }
  .logo {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
  }
  .logoContent {
    display: flex;
    flex: 1;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    border-left: 1px solid var(--border-color-white);
  }
  .footerContent {
    display: block;
  }
  .certificationImg{
    position: absolute;
    top: -40px;
    width: 80px;
    height: 80px;
  }
  .right {
    display: flex;
    padding: 10px 0px;
    border-top: 1px solid var(--border-color-white);
  }
  .leftContent {
    display: flex;
    padding: 10px 0px;
    border: none;
    border-top: 1px solid var(--border-color-white);
    border-bottom: 1px solid var(--border-color-white);
  }
  .fontWightSmColor {
    font-size: 10px;
  }
  .announcementHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 10px;
  }

  .announcementCertification {
    display: flex;
    padding: 10px 0px;
  }
  .announcementHeadPhara {
    color: var(--primary-blue);
    font-size: 14px;
  }
  .announcementMain {
    display: block;
  }
  .announcement {
    margin: 10px 0;
    border-radius: 10px;
    border: 2px solid #cfd7ff;
  }
  .announcemetDiv {
    padding: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }
  .announcementText {
    color: var(--primary-blue);
    margin: auto 0;
    font-size: 14px;
  }

  .rightBottom {
    display: none;
  }
  .contact {
    display: flex;
    padding: 10px 0px;
    flex-direction: column;
    align-items: center;
  }
  .rightRight {
    flex-direction: row;
    flex: 1;
    padding-bottom: 10px;
  }
  .rightHeading {
    display: flex;
    align-items: center;
    flex: 0.1;
    padding-right: 15px;
    border-right: 1px solid var(--border-color-white);
  }
  .numberDiv {
    display: grid;
    grid-template-columns: auto auto;
    flex: 1;
    gap: 10px;
    align-items: center;
  }
  .number {
    color: #616161;
  }
  .leftRight {
    display: flex;
    flex-direction: column-reverse;
  }
  .brandName {
    color: var(--dark);
  }
  .fontWight {
  }
  .details {
  }
}
@media screen and (max-width:425px) {
  .footerContent{
    display: block;
    padding: 10px 20px;
  }
  .brandLogoImg {
    width: 130px;
    height: 85px;
  }
  .numberDiv {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
  }
  .socialMediaIcons{
    width: 25px;
    height: 25px;
  }
  .announcemetDiv {
    padding: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }
  .announcementHeadPhara {
    color: var(--primary-blue);
    font-size: 12px;
  }
  .left {
      flex-direction: row;
      border: none;
      gap: 0px;
      padding: 10px 0px;
  }
  .leftContent {
      display: flex;
      padding: 10px 0px;
      border: none;
      border-top: 1px solid var(--border-color-white);
      border-bottom: 1px solid var(--border-color-white);
  }  
  .right {
    display: flex;
    padding: 10px 0px;
    border-top: 1px solid var(--border-color-white);
  }
  .leftRight {
    display: flex;
    flex-direction: column-reverse;
  }
  .logoContent{
      display: flex;
      flex: 1 1;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      padding-left: 10px;
      border-left: 1px solid var(--border-color-white);
  }
  .fontWightSm{
    font-size: 12px;
  }
  .contact{
      display: flex;
      padding: 10px 0px;
      flex-direction: column;
      align-items: center;
  }
  .rightBottom {
    display: none;
  }
  .licenseLabel{
    margin: auto;
    flex: 1;
  }
  .announcementMain{
      display: block;
  }
  .announcement {
    margin: 10px 0;
    border-radius: 10px;
    border: 2px solid #cfd7ff;
  }
  .announcementHead{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 15px;
      padding-top: 5px;
  }
  .announcementText {
    color: var(--primary-blue);
    margin: auto 0;
    font-size: 12px;
  }
  .rightRight {
    display: grid;
    gap: 10px;
    padding-left: 0px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }
  .fontWight{
    font-size: 13px;
  }
  .fontWeight,.number, .details{
    font-size: 12px;
  }
  .brandName{
    font-size: 16px;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .itemLink {
    color: white;
    font-size: 12px;
  }
  .contenttext {
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: 12px;
  }
  .certificationImgDiv{
    flex: 0.3;
  }
  .certificationImg{
    position: absolute;
    top: -40px;
    width: 80px;
    height: 80px;
  }
}
@media screen and (max-width:375px) {
  .numberDiv {
    grid-template-columns: auto ;
  }
}
@media screen and (max-width:1439px) and (min-width:790px) {
  .footerContent{
    padding: 20px;
  }
}
