.head {
  display: flex;
  background-color: white;
  padding: 0px 40px;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  border-bottom: 1px solid var(--border-color);
}

.list {
  display: flex;
  flex: 1;
  justify-content: space-around;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
}
.list::-webkit-scrollbar {
  display: none;
}
.float{
  flex: 1;
}
.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
}
.left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}
.accessDiv {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.btn {
  padding: 15px;
  margin: auto;
}
.accessText {
	color:var(--primary-dark);
	font-size: 14px;
}

/* Media query for screens with a maximum width of 768px */

@media (max-width: 768px) and (min-width:426px) {
  .accessText {
    font-size: 12px;
  }
  .float {
    display: none;
  }
  .mobile {
    display: block;
  }
  .head {
    gap: 0;
    padding: 20px 40px;
  }
  .left {
    gap: 20px;
  }
 
}
@media screen and (max-width:425px) {
  .btn{
    display: none;
  }
  .accessText {
    font-size: 12px;
  }
  .float {
    display: none;
  }
  .mobile {
    display: block;
  }
  .head {
    gap: 0;
    padding: 20px;
  }
  .left {
    gap: 20px;
  }
}
