.head {
	display: grid;
	grid-auto-flow: column;
	background-color: white;
	padding: 20px;
	align-items: center;
	justify-content: space-between;
}
.access {
	display: flex;
	gap: 5px;
	justify-content: center;
	align-items: center;
}
