:root {
    --primary-dark: #000E56;
    --primary-lite: #0C1859;
    --primary-lite-ultra: #3A457F;
    --canvas-board: #FEFEFE;
    --canvas-bluish: #C7CFF8;
    --canvas-pure: white;
    --active: #A5B3FF;
    --inactive: #5464B9;

    --secondary-text: #656565
}

body {
    margin: 0px;
    background-color: var(--canvas-board);
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--canvas-bluish);
    border-radius: 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--primary-lite-ultra);
    border-radius: 1px;
}

a,
p {
    color: var(--secondary-text);
    font-size: 15px;
    font-weight: 500;
}

h1 {
    color: var(--primary-dark);
    font-size: 1.6rem;
    font-style: italic;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: -1.2px;
    margin: 4px;
}

button {
    outline: none;
    border: none;
    padding: 16px 8px;
    font-family: var(--font-inter);
    background-color: var(--primary-dark);
    color: var(--canvas-board);
    font-weight: 500;
    cursor: pointer;


}

button :hover {
    opacity: 0.6;
    transition: 0.3s;
}

main {
    margin-top: 20vh;
    margin-bottom: 4vh;
    padding: 0px 12px;
    text-align: -webkit-center;
}