.content {
  display: grid;
  text-align: center;
  max-width: 480px;

  align-items: center;
  justify-content: center;
  align-content: space-between;
}

.headline {
  display: grid;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 4px 4px 100px 0px rgba(160, 160, 160, 0.12);
}